@import "tailwindcss";

:root {
  --color-primary: #f59e0b;
  /* amber-500 */
  --color-secondary: #dc2626;
  /* red-600 */
  --color-accent: #f59e0b;

  --font-display: "Inter", system-ui, sans-serif;

  color-scheme: dark;
  background-color: #09090b;
  /* zinc-950 */
  color: #f4f4f5;
  /* zinc-100 */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}